:root {
    --btn-red: #CE0002;
    --yellow: #FFFF2F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
}

/* header */

a {
    text-decoration: none;
    color: inherit;
}

.header-top {
    padding: 23px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active-link {
    color: var(--btn-red);
}

nav a {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0 22px;
}

.btn {
    background: #CE0002;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    text-align: left;
}

.btn::after  {
    content: url("img/arrow.png");
}

.header-btn {
    width: 120px;
    height: 120px;
    padding: 15px;
}

h1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    text-transform: uppercase;
    width: 60%;
}

q {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: inline-block;
    max-width: 460px;
}

.header {
    position: relative;
    margin-bottom: 100px;
    padding-bottom: 100px;
    height: 100vh;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: 100%;
    background-color: var(--yellow);
    z-index: -1;
}

.header-img {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
}

.header-content {
    position: relative;
    margin-top: 100px;
    padding-left: 50px;
}

/* header */

/* team */

.team {
    position: relative;
    width: 85%;
    margin: auto;
    margin-top: 150px;
    padding-top: 150px;
}

.container {
    width: 85%;
    margin: auto;
}

.team::before {
    content: "";
    position: absolute;
    width: 55%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: var(--yellow);
    z-index: -1;
}

.heading {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    text-transform: uppercase;
    max-width: 603px;
}

.team-box {
    display: flex;
    justify-content: space-between;
}

.member {
    width: 23%;
}

.member img {
    width: 200px;
}

.member h3 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
}

.member h4 {
    font-size: 10px;
}

.footer img {
    width: 30px;
}

.footer {
    background-color: #e1e1e1;
    padding: 18px 25px;
    margin-top: 10px;
    display: flex;
    /* justify-content - выравнивание по основной оси */
    justify-content: space-between; 
    /* align-items - выравнивание аобочной оси*/
    align-items: center;
}

.inc::before {
    content: "@";
    vertical-align: middle;
}

.team {
    position: relative;
    width: 80%;
    margin: 150px auto;
    padding-top: 150px;
}

.game-header-btn {
    display: block;
    width: 190px;
    height: 160px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    padding: 20px 20px 20px 30px;
}



.game-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 150px;
}

.game-box:nth-child(even) { 
    flex-direction: row-reverse;
}

.game-box>div, .give-box>img { 
    width: 45%;
}

.game-box h3, .game-box h4 {
    margin-bottom: 18px;
}

.more-btn {
    width: 190px;
    height: 95px;
    margin-top: 60px;
    padding: 25px;
    padding-left: 30px;
    font-size: 25px;
    position: absolute;
}

.game-box img{
    width: 600px;
    height: 600px;
}

.more-btn::after {
    content: url("img/arrow.png");
}

.projects {
    background-color: #EEE;
    padding: 100px 0 100px;
}

.project-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.project-card {
    width: 30%;
    font-weight: 600;
    font-size: 24px;
}

.project-card h3{
    font-size: 40px;
}

.project-card img {
    width: 100%;
    margin-bottom: 22px;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Вакансии*/

.vacancy {
    margin-bottom: 50px;
}

.vacancy h2{
    margin-bottom: 50px;
}

.vacancy-conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(190px, auto);
    gap: 24px;
}

.vacancy-box {
    background-color: #f5f5f5;
    position: relative;
    cursor: pointer;
}

.vacancy-box:hover {
    background-color: #CE0002;
    color: whitesmoke;
    transition: 0.5s;
}

.vacancy-box h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    max-width: 300px;
}